###> HaunBa/PartyInvitation ###

##### Folders #####
build/
node_modules/
var/
.tmp/

# IDE's
.vscode/
.idea/
.vs/


##### Files #####
ignore.*
*.ignore.*

# Environment variables and secret keys
.env
.env.test
*.pem

###< HaunBa/PartyInvitation ###
